# Rules in this file were initially inferred by Visual Studio IntelliCode from the E:\Proggn\Projects\GitRepos\GitRepos\AnnoSavegameViewer\AnnoSavegameViewer\Structures\Savegame\ codebase based on best match to current usage at 14.11.2020
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

# Entfernen Sie die folgende Zeile, wenn Sie EDITORCONFIG-Einstellungen von höheren Verzeichnissen vererben möchten.
root = true

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none

